.main-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.controls {
  padding: 10px 20px 0;
  background-color: white;
  box-shadow: 0px 2px 6px 0px #aaa;
  margin-bottom: 20px;

  .image-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  .mat-form-field:not(:last-child) {
    margin-right: 20px;
  }
}

.image-container {
  margin: 20px auto;
  min-width: 100px;
  min-height: 100px;
  background-color: #999;
  position: relative;
}

.image-filters-result {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 200px;
    min-width: 200px;

    & > img,
    & > canvas {
      border: 0;
      outline: none;
      max-width: 400px;
      min-width: 200px;
    }
  }
}

.particle {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.horizontal-move {
  animation-name: horizontalMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.vertical-move {
  animation-name: verticalMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes horizontalMove {
  from {
    transform: translateX(0em);
  }
  50% {
    transform: translateX(3em);
  }
  to {
    transform: translateX(0em);
  }
}

@keyframes verticalMove {
  from {
    transform: translateY(0em);
  }
  50% {
    transform: translateY(3em);
  }
  to {
    transform: translateY(0em);
  }
}
