<div class="main-wrapper">
  <div class="controls">
    <!-- <div class="move-controls">
      <mat-form-field>
        <mat-label>Speed</mat-label>
        <input
          matInput
          type="number"
          placeholder="speed"
          [(ngModel)]="moveSpeed"
          (change)="resetMovement()"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Distance</mat-label>
        <input
          matInput
          type="number"
          placeholder="distance"
          [(ngModel)]="moveDistance"
          (change)="resetMovement()"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="resetMovement()">
        Start moving
      </button>
      <button mat-raised-button color="primary" (click)="stopMovement()">
        Stop moving
      </button>
    </div> -->

    <div class="image-controls">
      <div>
        <span>Upload an image: </span>
        <input
          type="file"
          accept="image/*"
          placeholder="image"
          (change)="handleFileInput($event.target.files)"
        />
      </div>
      <hr />
      <div>
        <mat-form-field>
          <mat-label>Filters</mat-label>
          <mat-select
            multiple
            [(ngModel)]="filters"
            (selectionChange)="applyFilters()"
          >
            <mat-option [value]="type.id" *ngFor="let type of filterTypes">{{
              type.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="applyNoise()">
          Start noise
        </button>
        <button mat-raised-button (click)="stopNoise()">
          Stop noise
        </button>
      </div>
      <hr />  
      <div>
        <mat-form-field>
          <mat-label>Brightness</mat-label>
          <input
            matInput
            type="number"
            min="0"
            max="255"
            placeholder="brightness"
            [(ngModel)]="brightness"
            (change)="applyFilters()"
          />
        </mat-form-field>
        <mat-slider
          min="0"
          max="255"
          color="primary"
          placeholder="brightness"
          [thumbLabel]="true"
          [(ngModel)]="brightness"
          (change)="applyFilters()"
        ></mat-slider>
      </div>
      <hr />
      <div>
        <mat-form-field>
          <mat-label>Difference</mat-label>
          <input
            matInput
            type="number"
            min="1"
            max="20"
            placeholder="difference"
            [(ngModel)]="diff"
            (change)="applyFilters()"
          />
        </mat-form-field>
        <mat-slider
          min="1"
          max="20"
          color="primary"
          placeholder="difference"
          [thumbLabel]="true"
          [(ngModel)]="diff"
          (change)="applyFilters()"
        ></mat-slider>
      </div>
    </div>
  </div>

  <div class="image-filters-result">
    <div>
      <img #image />
      <p *ngIf="image && image.src">Original</p>
    </div>
    <div>
      <canvas #canvas></canvas>
      <p *ngIf="image && image.src">Filtered</p>
    </div>
  </div>

  <!-- <div
    class="image-container"
    [style.width]="imageWidth + 'px'"
    [style.height]="imageHeight + 'px'"
  >
    <div
      class="particle"
      *ngFor="let particle of particles"
      [style.top]="particle.y + 'px'"
      [style.left]="particle.x + 'px'"
      [style.background-color]="particle.color"
      [style.transition-duration]="moveSpeed + 'px'"
    ></div>
  </div> -->
</div>
